<!DOCTYPE html>
<html>

<head>
    <title>Error del servidor</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/404.css">
</head>

<body>
    <h1>Error-404 NOT FOUND </h1>
    <p>Se ha producido el siguiente error: <%= mensaje %></p>
    <p>Pila de ejecución:</p>
</body>

</html>