<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultados</title>
</head>
<link rel="stylesheet" href="css/infoForm.css">
<html>

<head>
    <title>Información proporcionada</title>
    <meta charset="UTF-8">
</head>

<body>
    <div>
        <h1>Resultados</h1>
        <table>
            <tr>
                <th>Respuesta</th>
                <th>Numero de votos</th>
            </tr>
            <tr>
                <th>Rojo:</th>
                <td> <%= nombre %> </td>
            </tr>
            <tr>
                <th>Azul:</th>
                <td> <%= edad %> </td>
            </tr>
            <tr>
                <th>Verde:</th>
                <td> <%= sexo %> </td>
            </tr>
            <tr>
                <th>Ninguno de los anteriores:</th>
                <td> <%= fumador %> </td>
            </tr>
        </table>
        <span> <a href="form_get.html">Volver</a></span>
    </div>
   
</body>

</html>