.titulo{
    color:black;
    background: rgb(201, 113, 113);
    padding: 20px 20px;
    text-decoration: underline;
    border: 2px dashed black;
    border-right: none;
  
}

.mario{

    background-image: url(mario.png);
    background-repeat: no-repeat;
    background-size: 50px;  
    background-position: right;

}
.sonic{
    background-image: url(sonic.png);
    background-repeat: no-repeat;
    background-size: 145px;
    background-position: right;
}
.titulo_tabla{
    background: rgb(88, 92, 88);
}

.fila{
    background: rgb(223, 223, 160)
}

th,td,tr{
    border: 3px black; 
    border-style: solid double;
   
}

table{
    
    border-collapse: collapse;
}
nav{
    color:white;
    background: rgb(121, 119, 119);
    padding: 10px;
    border: 2px solid black;
}
.fondo{
    background:  rgb(213, 179, 233);
}
.s1{
    background: yellowgreen;
}.s5{
    background: rgb(50, 205, 133);
}.s1{
    background: linear-gradient(to left ,rgb(117, 50, 205) ,blue);
}.s7{
    background: rgb(205, 50, 128);
}.Coffe{
    background: linear-gradient(to right,red,yellow);
}.s2{
    background: rgb(205, 125, 50);
}.s3{
    background: rgb(50, 156, 205);
}.s6{
    background: rgb(195, 205, 50);
}
