<!DOCTYPE html>
<html>

<head>
    <title>Lista de usuarios</title>
    <meta charset="utf-8">
</head>

<body>
    <ul>
        <% users.forEach(function(user,i,n) { %>
        <li><%= user %> <a href="/users.html/ <%= i %>"> borrar</a></li>
        <% }); %>
    </ul>
</body>

</html>